.main-buttons {
    display: inline-flex;
    justify-content: space-between;
    font-size: 18px;
}


.botao-linkedin {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #121212;
    padding: 3px 5px 5px;
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 30px;
    border-radius: 8px;
}

.img-linkedin-button {
    height: 25px;
    padding-right: 5px;

}

.botao-github {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #121212;
    padding: 3px 5px 5px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 30px;
    border-radius: 8px;
}


.img-github-button {
    height: 25px;
    padding-right: 5px;
}