.main-buttons {
    display: inline-flex;
    gap: 10px;
    font-size: 18px;
}

.botao-linkedin {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2e2c2c;
    padding: 3px 5px 5px;
    margin-top: 1rem;
    transition: ease-in-out 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 30px;
    border-radius: 8px;
}

.botao-linkedin:hover {
    transform: scale(1.1);
}

.img-linkedin-button {
    height: 25px;
    padding-right: 5px;

}

.botao-github {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2e2c2c;
    padding: 3px 5px 5px;
    margin-top: 1rem;
    font-weight: 600;
    transition: ease-in-out 0.3s;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 30px;
    border-radius: 8px;
}

.botao-github:hover {
    transform: scale(1.1);
}


.img-github-button {
    height: 25px;
    padding-right: 5px;
}