.main-section {
    height: 50%;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
}

.main-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;

}


.main-section div h2 {
    padding: 3px;
    color: #fff;
}


.main-section .main-apresentacao .meu-nome {
    font-size: 10dvh;
    color: #B22222;
}


.main-section div a {
    color: #fff;
}

#logo-flutuante p a {
    color: #B22222;
    /* background-color: #fff; */
    text-decoration: none;
    font-size: 2.7vw;
   
}

#logo-flutuante {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    left: 91%;
    background-color: #e6dada;
    width: 8%;
    height: 10%;
    border-radius: 100% 100% 0% 90%;
    transition: ease-in-out 0.5s;
}

#logo-flutuante:hover{
    transform: scale(1.1);
    background-color: rgb(44, 44, 42);
}