.main-section {
    height: 50%;
    font-weight: bold;
    font-size: 15px;
     display: flex;
     flex-direction: column;
     margin-bottom: 15%;
}

.main-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;

}


.main-section div h2 {
    padding: 3px;
    color: #fff;
}


.main-section .main-apresentacao .meu-nome {
    font-size: 10dvh;
    color: #B22222;
}


.main-section div a {
    color: #fff;
}

