.conteiner-projeto {
    height: 100vh;
}


.conteiner-projeto>h2 {
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    color: #fff;
}


.cartao-projetos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cartoes {
    border: 4px solid #c40c0c;
    font-size: 1.3rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 12rem;
    background-color: rgb(34, 33, 33);
}

.cartoes h3,
p,
a {
    color: #fff;
    padding: 9px;
}

.cartoes p {
    color: #d8d4dc;
}


.cartoes h3 {
    font-size: 2.7dvh;
}


.cartoes a {
    display: inline-flex;
    justify-content: center;
    color: #f1ebeb;
    text-decoration: none;
    transition: ease-out 0.1s;
    position: relative;
}

.cartoes a:hover:after {
    transform: scale(1.2);
    content: "";
    position: absolute;
    width: 30%;
    height: 0.2rem;
    background-image: linear-gradient(90deg, #dd2124 0%, #590521 92.32%);
    bottom: 5px;

}