.main-projetos{
    margin-bottom: 100px;
}

.conteiner-projeto>h2 {
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    color: #fff;
}

.cartao-projeto {
    border: 4px solid #c40c0c;
    font-size: 1.3rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: rgb(34, 33, 33);
}

.cartao-projeto h3,
p,
a {
    color: #fff;
    padding: 9px;
}

.cartao-projeto p {
    color: #d8d4dc;
}


.cartao-projeto h3 {
    font-size: 1.7rem;
}


.cartao-projeto a {
    display: inline-flex;
    justify-content: center;
    color: #f1ebeb;
    text-decoration: none;
    transition: ease-out 0.1s;
    position: relative;
}

.cartao-projeto a:hover:after {
    transform: scale(1.2);
    content: "";
    position: absolute;
    width: 30%;
    height: 0.2rem;
    background-image: linear-gradient(90deg, #dd2124 0%, #590521 92.32%);
    bottom: 5px;

}