@media(max-width: 768px) {


    .cartao {
        flex-wrap: wrap;
    }



}


@media (max-width: 640px) {

    .main-apresentacao {
        font-size: 2dvh;
    }

    .cartao-yu-gi-ho {
        width: 70% !important;
        height: 50% !important;
    }

    .meu-nome {
        text-align: center;
    }
}


@media (max-width: 999px) {
    .sobre-mim {
        overflow: scroll;
    }

    .main-section div h2 {
        text-align: center;
    }


    .main-content .sobre-mim>p {
        text-align: center;
    }

}


