@media(max-width: 768px) {


    .cartao {
        flex-wrap: wrap;
    }



}


@media (max-width: 640px) {
    

    .main-apresentacao {
        font-size: 2dvh;
    }

    .cartao-yu-gi-ho {
        width: 70% !important;
        height: 50% !important;
    }

    .meu-nome {
        text-align: center;
    }

    #logo-flutuante{
        height:  8% !important;
        width: 8% !important;
    }
}


@media (max-width: 999px) {


    .main-content img{
        height: 170px;
        width: 170px;
        margin-top: 5px;
        border: 2px solid  #3e3838;
    }

    .sobre-mim{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        height: auto !important;
    }

    .main-section div h2 {
        text-align: center;
    }


    .main-content .sobre-mim>p {
        text-align: center;
    }

}




