
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #151515;
    border-bottom: 2px solid #272727;
    font-weight: bold;
    height: 80px;
    border-bottom: 5px solid rgb(255, 255, 255);
}

.menu {
    text-decoration: none;
    list-style: none;
    font-size: 1.7vw;
}

nav ul a {
    text-decoration: none;
    display: inline-flex;
    padding: 50px;
    color: #fff;
}

nav p a {
    color: #B22222;
    text-decoration: none;
    font-size: 2vw;
    
}

.apresentacao{
     position: absolute;
    left: 490px;
    top: 180px; 
    font-size: 45px;
}

.main {
    height: 50vw;
    font-weight: bold;
    font-size: 15px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.9486169467787114) 63%, rgba(108,2,0,1) 75%, rgba(0,0,0,0.9486169467787114) 99%);
    
}

.botao-linkedin{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #121212;
    padding: 3px 5px 5px;
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 30px;
    border-radius: 8px;
}

.botao-linkedin::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: -2px;
    border-radius: 9px;
    background: linear-gradient(-45deg, rgb(214, 18, 18), rgb(213, 20, 20));
    background-size: 400%;
    animation: move infinite forwards 4s;
}


.botao-github {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #121212;
    padding: 3px 5px 5px;
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 30px;
    border-radius: 8px;
}

.botao-github::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: -2px;
    border-radius: 9px;
    background: linear-gradient(-45deg, rgb(214, 18, 18), rgb(213, 20, 20));
    background-size: 400%;
    animation: move infinite forwards 4s;
}

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    padding: 90px;
    
}

.img-linkedin {
    height: 25px;
    padding-right: 5px;
    
}

.img-github {
    height: 25px;
    padding-right: 5px;
}

section div h2 {
    padding: 3px;
}

.meu-nome{
    font-size: 70px;
    color: 	#B22222;
}


.botao-principal{
    display: inline-flex;
    justify-content: space-between;
    width: 240px;
    font-size: 18px;
    
}

section div a{
    color: #fff;
}